<%= form_with(model: g, local: true) do |form| %>
  <% if g.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(g.errors.count, "error") %> prohibited this g from being saved:</h2>

      <ul>
      <% g.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :people %>
    <%= form.text_field :people %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
